rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /analytics_events/{document} {
      allow create: if request.resource.data.keys().hasAll(['event_name','event_time','session_id'])
                     && request.resource.data.size() < 50
                     && request.time < timestamp.date(2099,1,1);
      allow read: if true;
      allow update, delete: if false;
    }

    match /analytics_daily/{document} {
      allow read: if true;
      allow write: if false;
    }
  }
}
