<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for lang in langs %}
  <sitemap>
    <loc>{{ base_url }}/sitemap-{{ lang }}.xml</loc>
    <lastmod>{{ build_date }}</lastmod>
  </sitemap>
{% endfor %}
</sitemapindex>
