<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {% for entry in sitemap_entries %}
  <url>
    <loc>{{ entry.loc }}</loc>
    <lastmod>{{ build_date }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>{{ entry.priority }}</priority>
    {% for alt in entry.alternates %}
    <xhtml:link rel="alternate" hreflang="{{ alt.lang }}" href="{{ alt.href }}"/>
    {% endfor %}
  </url>
  {% endfor %}
</urlset>
